<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.android.windsordesignstudio.movieviewr"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- This permission is necessary in order for movieviewR to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:parentActivityName=".DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />
        </activity>
        <activity
            android:name=".TrailerActivity"
            android:parentActivityName=".DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />
        </activity>
        <activity
            android:name=".FavoritesActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FavoritesActivity" />
        </activity>
        <provider
            android:name="com.example.android.windsordesignstudio.movieviewr.data.FavoritesContentProvider"
            android:authorities="com.example.android.movieviewr"
            android:exported="false"/>

    </application>

</manifest>